#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

@supports (viewport-fit: cover) {
  body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}
